@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-mono;
  }

  video::-webkit-media-controls-panel {
    background-color: transparent;
    height: 100%;
  }

  video::-webkit-media-controls-enclosure {
    width: 100%;
  }

  .selected::after {
    content: ">";
    position: absolute;
    z-index: -1;
    left: -15px;
    top: 1px;
    font-weight: 800;
  }

  /* Custom scrollbar styles */
  .sidebar::-webkit-scrollbar {
    width: 2px;
  }

  .sidebar:hover::-webkit-scrollbar {
    width: 2px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
  }

  .sidebar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0px;
  }
}
