@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Define the scrollbar style */
  html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Define the track style */
  html::-webkit-scrollbar-track {
    border: solid 1px transparent;
    background-clip: padding-box;
    @apply bg-transparent rounded-md;
  }

  /* Define the thumb style */
  html::-webkit-scrollbar-thumb {
    border: solid 1px transparent;
    background-clip: padding-box;
    @apply bg-neutral-300 rounded-md;
  }

  html::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400/80;
  }

  html::-webkit-scrollbar-button {
    background-color: #000000;
    border-radius: 0px;
  }

  /* Define the button style when being hovered over */
  .container::-webkit-scrollbar-button:hover {
    @apply bg-neutral-400/80;
  }

  html {
    @apply font-mono overflow-y-scroll;
  }

  pre > code {
    background-color: transparent !important;
  }

  video::-webkit-media-controls-panel {
    background-color: transparent;
    height: 100%;
  }

  video::-webkit-media-controls-enclosure {
    width: 100%;
  }

  /* Catalogue list - selected marker */
  .selected::after {
    content: ">";
    position: absolute;
    z-index: -1;
    left: -15px;
    top: 1px;
    font-weight: 800;
  }

  /* Custom scrollbar styles */
  .sidebar::-webkit-scrollbar {
    width: 2px;
  }

  .sidebar:hover::-webkit-scrollbar {
    width: 2px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
  }

  .sidebar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0px;
  }
}
